col-12 col-md-8 col-xl-9 {
    align-items: flex-end;
    font-size: medium;
    
}

footer {
    height: 50px;
    color:blue;
    background-color: chartreuse;
    position: relative;
    justify-content: center;
}

h5, p {
    font-size: medium;
}
.main {
        /* Turns this element into a flexbox */
    display: flex;
        /* Forces elements to the next line if they don't fit */
        flex-wrap: wrap;
        margin-top: 2%;
      
}
.card {
    flex: 1 0 200px;
  padding: 10px;
  text-align: center;
  border-style: solid;
  border-color: chartreuse;
  border-width: 2px;

}

.card-header {
    background-color: rgb(51, 60, 126);
    color: white;
}

@media screen and (width: 764px) {
    .container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
}
